@import './_partyal/componet.css';
@import './_partyal/common.css';
/* 
*******
RESET
********
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* 
*******
COLOR
********
*/

body {
  background-color: #dedbd2;
}

.bicolor {
  height: 122px;
  background-color: #009788;
  padding: 20px;
}

/* 
*******
Col 1
********
*/

main {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  height: calc(100vh - 35px);
}

/* contenitore main */

main .contenitore {
  height: 100%;
}
/* contenitore main */

/* col contenitore main */
.col-1 {
  min-width: 350px;
  width: 30%;
  height: 100%;
  border-right: 1.5px solid #cfccca;
  overflow-y: hidden;
  /* !debug */
  background-color: #faf6f6;
}
.col-2 {
  min-width: 450px;
  width: 70%;
  /* !debug */
  background-color: red;
}

/* col contenitore main */

/* header col-1 col-2 */
.header-col {
  height: 4.375rem;
  background-color: #faf6f6;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
}

/* contenuto header col */

.profile {
  align-items: center;
}
.img-profile {
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 10px;
  border-radius: 100%;
  object-fit: cover;
}

.profile p {
  font-weight: 700;
}

.icon {
  font-size: 20px;
}

.icon i {
  margin-right: 20px;
}

/* sezione notifiche */

.notifiche {
  padding: 15px 30px;
  background-color: #8edafc;
  align-items: center;
}

.icon-notifica {
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 10px;
  border-radius: 100%;
  background-color: white;
  text-align: center;
  line-height: 50px;
}

.icon-notifica i {
  font-size: 20px;
  color: #8edafc;
}

.notifiche a {
  font-size: 14px;
  color: #528ba9;
}

.notifiche p {
  font-weight: 700;
}

/* sezione input-search */

.container-input {
  padding: 10px;
  width: 100%;
}

.input-search {
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  align-items: center;
}

.input-search i {
  margin-right: 20px;
}
.input-search input {
  width: 80%;
  border: 0;
  font-size: 16px;
  outline: none;
}

/* Sezione lista contatti */

.list-contact {
  max-height: 728px;
  overflow-y: auto;
}

.list-contact li {
  padding: 15px 30px;
  background-color: white;
  margin-bottom: 2px;
}

.list-contact .profile {
  align-items: start;
}

/* 
*******
Col 2
********
*/
.main-2 {
  height: calc(100% - 140px);
  background-image: url(../img/mine.jpg);
  overflow-y: auto;
}

/* footer col-2 */
div.footer {
  height: 4.375rem;
  background-color: #faf6f6;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
  gap: 35px;
}

.footer i {
  font-size: 25px;
}
